<h2>INPUT STUFF BRO</h2>

<br>
<br>

<form class="" action="session_index_url"  method="POST">


<input type="text" name="user[user_name]" value="" placeholder="USER IS YOU MAN">
<input type="password" name="user[password]" value="" placeholder="THIS ONES ALL YOU">
<input type="submit" value="PRESS THE BUTTON AND HOPE IT WORKS">
</form>
